<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USBManager.resources.USB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="USBManager.resources.USB" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <USBManager.resources.USB>
            <setting name="constructeur" serializeAs="String">
                <value>ISIMA</value>
            </setting>
            <setting name="modele" serializeAs="String">
                <value>PC_app_side</value>
            </setting>
            <setting name="description" serializeAs="String">
                <value>A .NET based Android accessory</value>
            </setting>
            <setting name="version" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="URI" serializeAs="String">
                <value>https://github.com/Ace-Nanter/SMS_on_PC</value>
            </setting>
            <setting name="protocole" serializeAs="String">
                <value>Android Open Accessory Protocol</value>
            </setting>
            <setting name="maxBuffer" serializeAs="String">
                <value>16384</value>
            </setting>
        </USBManager.resources.USB>
    </applicationSettings>
    <userSettings>
        <USBManager.resources.USB>
            <setting name="readEndpoint" serializeAs="String">
                <value>132</value>
            </setting>
            <setting name="writeEndpoint" serializeAs="String">
                <value>5</value>
            </setting>
        </USBManager.resources.USB>
    </userSettings>
</configuration>